body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #FFFFCC;
}

h1 {
    background-color: bisque;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.hidden {
    visibility: hidden;
}

.error {
    background-color: rosybrown;
 }
 .error_text {
    color: orange;
    font-weight: bold;
}

 .test {
    background-color: red;
 }

 .hidden {
    display:none;
 }